---
import Layout from '../layouts/Layout.astro';
import AllianceDisplay from '../components/AllianceDisplay';
---

<Layout title="FTC Local Scoring System - Score Controller">
  <div id="auth-container" class="h-full" data-auth-required="true">
    <!-- Client-side rendering will determine whether to show login or controller -->
    <div id="controller-container">
      <AllianceDisplay client:only="react"  />
    </div>
  </div>
</Layout>