---
import BigTimerDisplay from '../components/BigTimerDisplay';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Big Timer Display</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="bg-black text-white m-0 p-0">
    <BigTimerDisplay client:only="react" />
  </body>
</html>